<div class="row">
  <div class="small-6 columns"><h1>SunBlockr</h1></div>
</div>
<div class="row">
  <div class="small-6 columns">
    <h2>Do you love the sun?</h2>
    <p>
      Of course you do! SunBlockr allows you to enjoy the great outdoors while also  staying safe. This handy app considers factors like real-time weather conditions, skin type and sunscreen SPF (Sun Protection Factor) and then suggests a safe  sun exposure time for you.
    </p>
  </div>
  <div class="small-6 columns">
    <h2>How does it work?</h2>
    <p>
      Perfect for those on-the-go, simply enter a few basic criteria about yourself and   your sun protection, start up the app and let SunBlockr take care of the rest!  You  will receive an alert you when it is time to reapply your sunscreen or seek shade!
    </p>
    <p>
      SunBlockr takes three key factors into account: current UV index, skin type, and sunscreen SPF; and suggests how long you can safely stay in the sun before getting burned.
    </p>
    <p>
      What are you waiting for?<br/>
      Get out there and play!
    </p>
  </div>
</div>
