@import "settings";

/*Sun animation from: http://codepen.io/Benedikte/pen/bIuGr*/
/* the svg element */
.svg-sun{
  width:100px;
  height:100px;

  -webkit-transform-origin: center center;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin:50% 50%;

-webkit-animation: spin 25s linear infinite, sun-glow 10s 0s linear infinite;
-moz-animation: spin 25s linear infinite, sun-glow 10s 0s linear infinite;
-o-animation:spin 25s linear infinite, sun-glow 10s 0s linear infinite;
-ms-animation: spin 25s linear infinite, sun-glow 10s 0s ease-in-out infinite;
animation: spin 25s linear infinite,sun-glow 10s 0s linear infinite;

}
/* the circle element in the svg itself */
#sun{
  stroke-width:18;
  stroke-dasharray:2;
  stroke-dashoffset:2;
}
/* animation for the sun glowing effect */
@-webkit-keyframes sun-glow {
  0% { fill: $pink; stroke: $pink;}
  20% { fill: $orange; stroke: $orange;}
  40% { fill: $green; stroke: $green;}
  60% { fill: $blue; stroke: $blue;}
  80% { fill: $purple; stroke: $purple;}
  100% { fill: $pink; stroke: $pink;}
}
@-moz-keyframes sun-glow {
  0% { fill: $pink; stroke: $pink;}
  20% { fill: $orange; stroke: $orange;}
  40% { fill: $green; stroke: $green;}
  60% { fill: $blue; stroke: $blue;}
  80% { fill: $purple; stroke: $purple;}
  100% { fill: $pink; stroke: $pink;}
}
@-o-keyframes sun-glow {
  0% { fill: $pink; stroke: $pink;}
  20% { fill: $orange; stroke: $orange;}
  40% { fill: $green; stroke: $green;}
  60% { fill: $blue; stroke: $blue;}
  80% { fill: $purple; stroke: $purple;}
  100% { fill: $pink; stroke: $pink;}
}
@-ms-keyframes sun-glow {
  0% { fill: $pink; stroke: $pink;}
  20% { fill: $orange; stroke: $orange;}
  40% { fill: $green; stroke: $green;}
  60% { fill: $blue; stroke: $blue;}
  80% { fill: $purple; stroke: $purple;}
  100% { fill: $pink; stroke: $pink;}
}
@keyframes sun-glow {
  0% { fill: $pink; stroke: $pink;}
  20% { fill: $orange; stroke: $orange;}
  40% { fill: $green; stroke: $green;}
  60% { fill: $blue; stroke: $blue;}
  80% { fill: $purple; stroke: $purple;}
  100% { fill: $pink; stroke: $pink;}
}

/* start spin animation */
@-webkit-keyframes spin{
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin{
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes spin{
  100% {
    -o-transform: rotate(360deg);
  }
}
@-ms-keyframes spin{
  100% {
    -ms-transform: rotate(360deg);
  }
}
@keyframes spin{
  100% {
    transform: rotate(360deg);
  }
}
